/* RESET BROWSER STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  --blackColor: #000000;
  --mainNavyColor: #14213d;
  --mainNavyColorDarker: #0d1528;
  --mainGoldColor: #fca311;
  --mainGoldColorBorder: #fca21175;
  --mainGrayColor: #e5e5e5;
  --mainGrayColorActive: #e5e5e521;
  --whiteColor: #ffffff;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif !important;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  color: var(--blackColor);
  background-color: var(--mainGrayColor);
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* OVERRIDES */
.mdc-button {
  font-family: "Lato", sans-serif !important;
  letter-spacing: 0.4px !important;
  font-size: 1rem !important;
}

/* TOASTR */
.toast-container .ngx-toastr {
  box-shadow: none !important;
}
