<div class="container">
  <div class="row">
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/backpack.jpeg" alt="Card backpack">
      <div class="card-body">
        <h4 class="card-title">Plecak</h4>
        <p class="card-text">Cena: 50 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/pen.jpeg" alt="Card pen">
      <div class="card-body">
        <h4 class="card-title">Długopis</h4>
        <p class="card-text">Cena: 10 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/notebook.jpeg" alt="Card notebook">
      <div class="card-body">
        <h4 class="card-title">Notatnik</h4>
        <p class="card-text">Cena: 30 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/termos.jpeg" alt="Card termos">
      <div class="card-body">
        <h4 class="card-title">Termos</h4>
        <p class="card-text">Cena: 60 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/pencilbox.jpeg" alt="Card pencilbox">
      <div class="card-body">
        <h4 class="card-title">Piórnik</h4>
        <p class="card-text">Cena: 20 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/bag.jpeg" alt="Card bag">
      <div class="card-body">
        <h4 class="card-title">Worek</h4>
        <p class="card-text">Cena: 30 zł</p>
      </div>
    </div>
  </div>
</div>

<ngx-loading *ngIf="loading" [show]="loading"></ngx-loading>