<div class="container">
  <div class="first">
    <h2 class="pb-4 text-center font-weight-bold">Godziny otwarcia</h2>
    <table class="table mx-auto text-center">
      <tbody>
        <tr>
          <th scope="row">Poniedziałek</th>
          <td>10.00 - 13.00</td>
        </tr>
        <tr>
          <th scope="row">Wtorek</th>
          <td>10.00 - 13.00</td>
        </tr>
        <tr>
      </tbody>
    </table>
    <h3 class="pt-4 text-center">Sklepik otwierany jest po kontakcie telefonicznym: <span class="font-weight-bold">664 382 204</span></h3>
    <h3 class="pt-4 text-center"><a href="https://umg.edu.pl/sklepik-umg" class="btn btn-primary text-center py-3 px-4" target="_blank">Strona sklepiku</a></h3>
  </div>
</div>
<div class="second">
<div class="container">
  <div class="row py-4 justify-content-evenly">
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/dlugopis.png" alt="Długopis" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Długopis</h4>
        <p class="card-text">Cena: 3 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/olowek.png" alt="Ołówek" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Ołówek</h4>
        <p class="card-text">Cena: 1 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/brelok_kolo.png" alt="Brelok koło sterowe" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Brelok "Koło sterowe"</h4>
        <p class="card-text">Cena: 10 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/brelok_zaglowka.png" alt="Brelok żaglówka" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Brelok żaglówka</h4>
        <p class="card-text">Cena: 10 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/brelok_otwieracz.png" alt="Brelok otwieracz do napojów" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Brelok otwieracz</h4>
        <p class="card-text">Cena: 10 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/brelok_miarka.png" alt="Brelok miarka" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Brelok miarka</h4>
        <p class="card-text">Cena: 10 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/kubek_czarny.png" alt="Kubek czarny" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Kubek czarny</h4>
        <p class="card-text">Cena: 30 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/kubek_granatowy.png" alt="Kubek granatowy" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Kubek granatowy</h4>
        <p class="card-text">Cena: 30 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/filizanka.png" alt="Filiżanka" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Zestaw filiżanki</h4>
        <p class="card-text">Cena: 99 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/kubek_termiczny.png" alt="Kubek termiczny" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Kubek termiczny</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/odblask.png" alt="Odblask" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Odblask</h4>
        <p class="card-text">Cena: 5 zł</p>
      </div>
    </div>    
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/opaski_odblaskowe.png" alt="Opaski odblaskowe (fluorescencyjne)" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Opaski odblaskowe</h4>
        <p class="card-text">Cena: 5 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/kamizelka_odblaskowa.png" alt="Kamizelka odblaskowa" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Kamizelka odblaskowa</h4>
        <p class="card-text">Cena: 35 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/puzzle.png" alt="Puzzle Dar Młodzieży" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Puzzle "Dar Młodzieży"</h4>
        <p class="card-text">Cena: 50 zł</p>
      </div>
    </div>    
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/podkladka_mysz.png" alt="Podkładka pod mysz" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Podkładka pod mysz</h4>
        <p class="card-text">Cena: 25 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/pendrive.png" alt="Pendrive" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Pendrive 32 GB</h4>
        <p class="card-text">Cena: 25 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/powerbank.png" alt="Powerbank" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Powerbank 10000 mAh</h4>
        <p class="card-text">Cena: 85 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/zaslepka_kamerka.png" alt="Zaślepka na kamerkę internetową" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Zaślepka na kamerkę</h4>
        <p class="card-text">Cena: 8 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/smycz.png" alt="Smycz sublimacyjna" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Smycz sublimacyjna</h4>
        <p class="card-text">Cena: 5 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/czapka_granatowa_daszek.png" alt="Czapka z daszkiem" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Czapka z daszkiem</h4>
        <p class="card-text">Cena: 45 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/czapka_zimowa_umg.png" alt="Czapka zimowa ”UMG”" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Czapka zimowa ”UMG”</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/tshirt_kotwica_man.jpg" alt="" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">T-shirt "Kotwica" Męska</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/tshirt_kotwica_woman.jpg" alt="" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">T-shirt "Kotwica" Damska</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/tshirt_umg_en_man.jpg" alt="" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">T-shirt UMG ENG Męski</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/tshirt_umg_en_woman.jpg" alt="" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">T-shirt UMG ENG Damski</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/tshirt_umg_pl_man.jpg" alt="" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">T-shirt UMG PL Męski</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/tshirt_umg_pl_woman.jpg" alt="" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">T-shirt UMG PL Damski</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/saszetka.png" alt="Saszetka" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Saszetka</h4>
        <p class="card-text">Cena: 50 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/worek_umg.png" alt="Worek" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Worek</h4>
        <p class="card-text">Cena: 45 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/plecak.png" alt="Plecak" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Plecak</h4>
        <p class="card-text">Cena: 60 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/recznik.png" alt="Ręcznik" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Ręcznik</h4>
        <p class="card-text">Cena: 50 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/bombka.jpg" alt="Bombka" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Bombka ze stojakiem</h4>
        <p class="card-text">Cena: ? zł</p>
      </div>
    </div>
  </div>
</div>
</div>