<div class="container">
  <div class="first">
    <h2 class="pb-4 text-center font-weight-bold">Godziny otwarcia</h2>
    <table class="table mx-auto text-center">
      <tbody>
        <tr>
          <th scope="row">Poniedziałek</th>
          <td>10.00 - 13.00</td>
        </tr>
        <tr>
          <th scope="row">Wtorek</th>
          <td>10.00 - 13.00</td>
        </tr>
        <tr>
      </tbody>
    </table>
    <h3 class="pt-4 text-center">Sklepik otwierany jest po kontakcie telefonicznym: <span class="font-weight-bold">664 382 204</span></h3>
    <h3 class="pt-4 text-center"><a href="https://umg.edu.pl/sklepik-umg" class="btn btn-primary text-center py-3 px-4" target="_blank">Strona sklepiku</a></h3>
  </div>
</div>
<div class="second">
<div class="container">
  <div class="row py-4 justify-content-evenly">
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/backpack.jpeg" alt="Card backpack" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Plecak</h4>
        <p class="card-text">Cena: 50 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/pen.jpeg" alt="Card pen" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Długopis</h4>
        <p class="card-text">Cena: 10 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/notebook.jpeg" alt="Card notebook" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Notatnik</h4>
        <p class="card-text">Cena: 30 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/termos.jpeg" alt="Card termos" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Termos</h4>
        <p class="card-text">Cena: 60 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/pencilbox.jpeg" alt="Card pencilbox" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Piórnik</h4>
        <p class="card-text">Cena: 20 zł</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="/assets/images/shop-page/bag.jpeg" alt="Card bag" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">Worek</h4>
        <p class="card-text">Cena: 30 zł</p>
      </div>
    </div>
  </div>
</div>
</div>