<div class="container" style="position: relative;">
  <div class="upper-buttons">
    <button class="return" [routerLink]="['/admin/forum']"
      routerLinkActive="router-link-active"><mat-icon>arrow_back</mat-icon>
      Wszystkie posty</button>

    <button *ngIf="!spinnerVal" class="delete-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <h3 *ngIf="!spinnerVal" class="main-label">Dane posta</h3>

  <mat-spinner *ngIf="spinnerVal"
    style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;"></mat-spinner>

  <form *ngIf="!spinnerVal" class="post-form" [formGroup]="editForm">
    <div class="control">
      <label>Autor</label>
      <div class="input-box author-box">
        <input formControlName="nick" type="text">
        <mat-icon>person</mat-icon>
      </div>
    </div>
    <div class="control">
      <label>Treść</label>
      <div class="input-box author-box">
        <textarea formControlName="body" type="text"></textarea>
        <mat-icon>description</mat-icon>
      </div>
    </div>
    <div class="selects">
      <div class="control">
        <label>Kategoria</label>
        <div class="input-box author-box">
          <select formControlName="category">
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="control">
        <label>Zweryfikowany</label>
        <div class="input-box author-box">
          <select formControlName="verified">
            <option [ngValue]="true">Tak</option>
            <option [ngValue]="false">Nie</option>
          </select>
        </div>
      </div>
    </div>
    <div class="control">
      <button class="save-btn" type="button" (click)="submit()">Zapisz</button>
    </div>
  </form>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Ta operacja spowoduje usunięcie wskazanego elementu.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Wstecz</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Rozumiem</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="postData && !spinnerVal" class="container">
  <hr>

  <h3 class="main-label">Komentarze ({{postData.reply.length}})</h3>

  <app-edit-post-comments [comments]="postData.reply"></app-edit-post-comments>
</div>
