.container {
  margin-bottom: 1rem;
}

.card {
  font-family: 'Lora', serif;
  height: 100%;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 2rem;
  margin: 0;
}

.card-title {
  font-size: 2rem;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
}

.card-front .card-title {
  font-size: 3rem;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.card:hover {
  transform: rotateY(180deg);
}

.col-md-4 {
  margin-top: 2rem;
}

hr {
  height: 0.2rem;
  opacity: 0.7;
  background: black;
}

h2.group{
  font-size: 4rem;
  margin-top: 3rem;
}
