<header class="header navbar">
  <div (click)="closeNav()" class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
    <img class="logo" src="../../../../favicon.ico" alt="Logo">
    <h3 class="name">FreshmanGuide</h3>
  </div>
  <div class="burger" (click)="toggleMenu()">
    <mat-icon class="burgerIcon">{{toggleIcon}}</mat-icon>
  </div>
  <nav class="navigation" #toggle>
    <h4 (click)="closeNav()" class="nav_item" [routerLink]="['/atrakcje']" routerLinkActive="router-link-active">
      Atrakcje</h4>
    <h4 (click)="closeNav()" class="nav_item" [routerLink]="['/prowadzacy']" routerLinkActive="router-link-active">
      Prowadzący</h4>
    <h4 (click)="closeNav()" class="nav_item" [routerLink]="['/znajdz-sale']" routerLinkActive="router-link-active" >Mapa</h4>
    <h4 (click)="closeNav()" class="nav_item" [routerLink]="['/sprawy-studenckie']" routerLinkActive="router-link-active" >Sprawy studenckie</h4>
    <h4 (click)="closeNav()" class="nav_item" [routerLink]="['/slownik']" routerLinkActive="router-link-active" >Słowniczek</h4>
    <h4 (click)="closeNav()" class="nav_item" [routerLink]="['/stolowka']" routerLinkActive="router-link-active" >Stołówka</h4>
    <h4 (click)="closeNav()" class="nav_item" [routerLink]="['/praktyki']" routerLinkActive="router-link-active">Praktyki</h4>
    <h4 (click)="closeNav()" class="nav_item" [routerLink]="['/forum']" routerLinkActive="router-link-active" >Forum</h4>
  </nav>
</header>
