<app-content-row [type]="'first'" [title]="'Poszerzanie horyzontów'" [content]="'Studia to nie tylko wiedza, ale i możliwość odnajdywania dodatkowych ścieżek kształcenia. Kursy językowe,
  wymiany studenckie, staże w renomowanych firmach – warto zadbać o to, aby studencki życiorys wypełniały
  ciekawe projekty. Same zajęcia poniekąd zmuszają do poszukiwania dodatkowych informacji oraz zdobywania
  podstawowych umiejętności w różnych dziedzinach, dzięki czemu przypadkowo można odkryć ścieżkę, którą
  chciałoby się podążać oraz rozwijać.'" [imageSrc]="'/assets/images/home-page/studying.jpeg'"
  [imageDesc]="'Poszerzanie horyzontów'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Wykształcenie z punktu widzenia pracodawcy'" [content]="'Posiadanie dyplomu może być kluczowe dla uzyskania lepszej pracy i wyższych zarobków, a także stanowić
przewagę konkurencyjną na rynku. Coraz więcej pracodawców wymaga od kandydatów wyższego wykształcenia,
nawet jeśli nie jest to bezpośrednio związane z zawodem. W zależności od wybranego kierunku, studenci
zdobywają między innymi umiejętność pracy w zespole, analityczne myślenie, zarządzanie projektami,
kreatywności czy komunikację interpersonalną. Powyższe cechy są bardzo pożądane przez przyszłych
przełożonych i mogą znacząco zwiększyć szanse na lepszą posadę.'"
  [imageSrc]="'/assets/images/home-page/interview.jpeg'"
  [imageDesc]="'Wykształcenie z punktu widzenia pracodawcy'"></app-content-row>

<app-content-row [type]="'first'" [title]="'Nawiązywanie znajomości'" [content]="'Największą zaletą studiowania jest możliwość nawiązywania nowych znajomości. Studenci kształcący się na tym
samym kierunku mają wspólne cele i zainteresowania. Podczas nauki często pracują w grupach przygotowując
wspólnie projekty lub uczestniczą w debatach i dyskusjach. Dzięki temu łatwiej zapoznać się z osobami z
różnych
środowisk, o różnych doświadczeniach i perspektywach. Nowe relacje mogą przynieść wiele korzyści w
przyszłości,
takich jak znalezienie pracy, rozwój biznesowy czy poprawa sieci kontaktów zawodowych. Ponadto, uczelnia
organizuje różne wydarzenia, podczas których studenci mają możliwość poznać osoby spoza swojego kierunku lub
nawet z innych szkół wyższych.'" [imageSrc]="'/assets/images/home-page/people.jpeg'"
  [imageDesc]="'Nawiązywanie znajomości'"></app-content-row>

<div class="second">
  <div class="container">
    <div class="circles">
      <div class="circle"><mat-icon>shopping_basket</mat-icon> <span>Zniżki</span></div>
      <div class="circle"><mat-icon> monetization_on</mat-icon> <span>Stypendium</span></div>
      <div class="circle"><mat-icon>library_books</mat-icon> <span>Wiedza</span></div>
    </div>
  </div>
</div>