<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="title">Skwer Kościuszki</h2>
        <div class="text">
          <p>To popularne miejsce spotkań i relaksu w centrum Gdyni. Można tu zobaczyć Pomnik Jana Kilińskiego oraz podziwiać piękne widoki na morze. Skwer jest także często miejscem organizacji koncertów i imprez plenerowych.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div id="img1" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div id="row2" class="row">
      <div class="col-md-5">
        <div id="img2" class="img"></div>
      </div>
      <div class="col-md-7">
        <h2 id="title2" class="title">Molo w Orłowie</h2>
        <div class="text">
          <p>To najdłuższe drewniane molo w Polsce, które jest idealnym miejscem na spacer nad Bałtykiem. Można tu odpocząć, ciesząc się świeżym powietrzem i malowniczymi widokami. Molo jest również popularnym miejscem do uprawiania sportów wodnych, takich jak kitesurfing czy windsurfing.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h2 class="title">Akwarium Gdyńskie</h2>
        <div class="text">
          <p>To jedno z największych akwariów w Polsce, które mieści się w centrum miasta. Można tu zobaczyć różnorodne gatunki ryb, ssaków morskich i innych stworzeń wodnych. Akwarium oferuje również interaktywne wystawy, prezentacje i edukacyjne pokazy dla odwiedzających. </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div id="img3" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div id="row2" class="row">
      <div class="col-md-5">
        <div id="img4" class="img"></div>
      </div>
      <div class="col-md-7">
        <h2 id="title2" class="title">Centrum Nauki EXPERYMENT</h2>
        <div class="text">
          <p>To miejsce, w którym studenci mogą bawić się i uczyć jednocześnie. Centrum oferuje interaktywne wystawy i eksperymenty z dziedziny nauki i technologii. Można tu eksplorować różne zagadnienia z dziedziny fizyki, chemii, biologii i innych nauk przyrodniczych.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h2 class="title">Wzgórze św. Maksymiliana</h2>
        <div class="text">
          <p>To miejsce, z którego roztacza się przepiękny widok na Gdynię i okolicę. Na wzgórzu znajduje się pomnik św. Maksymiliana Kolbego oraz krzyż upamiętniający papieża Jana Pawła II. To idealne miejsce na spacer, relaks i podziwianie panoramy miasta.  </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div id="img5" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div id="row2" class="row">
      <div class="col-md-5">
        <div id="img6" class="img"></div>
      </div>
      <div class="col-md-7">
        <h2 id="title2" class="title">Kępa Redłowska</h2>
        <div class="text">
          <p>To piękny obszar przyrodniczy, który obejmuje lasy, klifowe wybrzeże i malownicze plaże. Można tu spędzić czas na spacerach, piknikach i obserwacji przyrody. Kępa Redłowska to również miejsce, w którym odbywają się różnego rodzaju festiwale i imprezy plenerowe. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h2 class="title">Bulwar Nadmorski</h2>
        <div class="text">
          <p>To popularne miejsce spacerowe, które ciągnie się wzdłuż linii brzegowej. Można tu spacerować, biegać, jeździć na rowerze, a także odpocząć na ławkach i podziwiać widoki na morze. Bulwar jest także miejscem organizacji różnych wydarzeń, takich jak koncerty, festiwale i wystawy plenerowe. </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div id="img7" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div id="row2" class="row">
      <div class="col-md-5">
        <div id="img8" class="img"></div>
      </div>
      <div class="col-md-7">
        <h2 id="title2" class="title">Pif Paf</h2>
        <div class="text">
          <p>To pub w którym czeka na Ciebie wiele atrakcji, które zapewnią Ci doskonałą rozrywkę. Możesz wziąć udział w programie karaoke, gdzie będziesz miał okazję zaprezentować swoje wokalne umiejętności lub śmiać się razem z przyjaciółmi przy niezapomnianych występach. Dodatkowo, co wieczór oferujemy muzykę na żywo, która z pewnością dostarczy Ci mnóstwo radości i dobrze rozpocznie Twój weekend.  </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h2 class="title">Centrum U7</h2>
        <div class="text">
          <p>Doskonałe miejsce na zrelaksowanie się podczas gry w kręgle lub bilard po ciężkim dniu. Oferuje pełne zaplecze gastronomiczne oraz rozmaite alkohole. </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div id="img9" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div class="circles">
      <div class="circle"><mat-icon>shopping_basket</mat-icon> <span>Zniżki</span></div>
      <div class="circle"><mat-icon> monetization_on</mat-icon> <span>Stypendium</span></div>
      <div class="circle"><mat-icon>library_books</mat-icon> <span>Wiedza</span></div>
    </div>
  </div>
</div>

<ngx-loading *ngIf="loading" [show]="loading"></ngx-loading>