@import "./attractions.animations.css";

.second {
    padding: 10px 0;
    width: 100%;
    background-color: var(--whiteColor);
}

.second .container .circles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
}

.second .container .circles .circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--mainGoldColor);
    background-color: var(--mainNavyColor);
    border-radius: 50%;
    transition: color 0.3s, background-color 0.3s;
    animation: swing-in 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s both;
}

.second .container .circles .circle:hover {
    color: var(--mainNavyColor);
    background-color: var(--mainGoldColor);
}

.second .container .circles .circle:last-child {
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.container .row {
    position: relative;
    margin: 20px 0;
    padding: 20px;
    max-width: 1000px;
    overflow: hidden;
}

.container .row .title {
    margin: 7px 0;
    font-size: 2.2rem;
    font-weight: bold;
    animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

.container .row #title2 {
    animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

.container .row .col-md-5 .img {
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 5px 5px 3px #14213d58, 6px 6px 4px #14213d3c;
    transition: filter 0.4s;
    animation: swing-in 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s both;
}

.container .row .col-md-5 #img1 {
    background-image: url("/assets/images/attractions-page/skwer.jpeg");
}

.container .row .col-md-5 #img2 {
    background-image: url("/assets/images/attractions-page/molo.jpeg");
}

.container .row .col-md-5 #img3 {
    background-image: url("/assets/images/attractions-page/akwarium.jpeg");
}

.container .row .col-md-5 #img4 {
    background-image: url("/assets/images/attractions-page/experyment.jpeg");
}

.container .row .col-md-5 #img5 {
    background-image: url("/assets/images/attractions-page/maksym.jpeg");
}

.container .row .col-md-5 #img6 {
    background-image: url("/assets/images/attractions-page/redlowo.jpeg");
}

.container .row .col-md-5 #img7 {
    background-image: url("/assets/images/attractions-page/bulwar.jpeg");
}

.container .row .col-md-5 #img8 {
    background-image: url("/assets/images/attractions-page/pif.jpeg");
}

.container .row .col-md-5 #img9 {
    background-image: url("/assets/images/attractions-page/u7.jpeg");
}

.container .row .col-md-7 .text {
    height: 200px;
    text-align: left;
    font-size: 1.6rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: auto;
    animation: flip-in 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

@media only screen and (max-width: 365px) {
    .container .row {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 576px) {
    .container .row .title {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 576px) {
    .second .container .circles {
        flex-direction: row;
        width: 90%;
    }

    .second .container .circles .circle {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) {
    .container .row .col-md-5 .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 3px;
    }

    .container .row .col-md-5 .img:hover {
        filter: grayscale(0.4);
    }

    .container .row {
        margin: 60px 0;
    }

    .first .container .row::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 3px;
        height: 170px;
        background-color: var(--mainGoldColor);
        border-radius: 3px;
        animation: slide-in-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    }

    .first .container .row::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 170px;
        height: 3px;
        background-color: var(--mainGoldColor);
        border-radius: 3px;
        animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    }

    .second .container .row::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 3px;
        height: 170px;
        background-color: var(--mainGoldColor);
        border-radius: 3px;
        animation: slide-in-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    }

    .second .container .row::after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 170px;
        height: 3px;
        background-color: var(--mainGoldColor);
        border-radius: 3px;
        animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    }

    .first .row .col-md-7 {
        padding-right: 15px;
    }

    .second .row .col-md-7 {
        padding-left: 15px;
    }

    .container .row .col-md-7 .text {
        height: 195px;
        border: none;
    }

    .container .row .title {
        width: fit-content;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .second .container .circles {
        width: 80%;
    }

    .second .container .circles .circle {
        margin-bottom: 0;
        width: 120px;
        height: 120px;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 767px) {
    .col-md-7 {
        order: 1;
    }

    .col-md-5 {
        order: 2;
    }

    .container .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .container .row .col-md-7 .text {
        height: 170px;
    }

    .container .row .col-md-5 .img {
        width: 100%;
        height: 250px;
    }
}

@media only screen and (min-width: 992px) {
    /* ::-webkit-scrollbar-thumb {
    background-color: var(--mainNavyColor);
    border: calc(0.47vw) solid var(--mainGrayColor);
    border-radius: 3px;
  }

  .second ::-webkit-scrollbar-thumb {
    border: calc(0.47vw) solid var(--whiteColor);
  } */

    .second .container .circles {
        width: 50%;
    }
}