@import "src/app/layouts/animations/animations-main.css";

.min-h {
    min-height: 150px;
}

.card {
  background-color: var(--mainNavyColorDarker);
  box-shadow: 5px 5px 3px #14213d58, 6px 6px 4px #14213d3c;
  animation: swing-in 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card:hover {
  transition: .4s;
  background: var(--mainNavyColor);
}

.card-title, .card-footer {
  color: var(--mainGoldColor);
}

.card-body {
  color: var(--whiteColor);
}

.first {
  animation: swing-in 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

h2 {
  color: var(--bs-heading-color);
}

table, th, td {
  width: 300px;
  border-color: var(--mainNavyColorDarker);
  background-color: var(--mainGrayColor);
  font-weight: normal;
}

.second {
  background-color: var(--whiteColor);
}
