<app-content-row [type]="'first'" [title]="'Skwer Kościuszki'" [content]="'To popularne miejsce spotkań i relaksu w centrum Gdyni. Oprócz pięknych widoków na morze można zobaczyć pomnik Jana Kilińskiego oraz cumujące przy nabrzeżu zabytkowe okręty i statki żeglarskie. Często organizowane są tutaj koncerty i imprezy plenerowe.'"
  [imageSrc]="'/assets/images/attractions-page/skwer.jpeg'" [imageDesc]="'Skwer Kościuszki w Gdyni'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Bulwar Nadmorski'" [content]="'Ciągnący się wzdłuż linii brzegowej jest popularnym miejscem zarówno do odpoczynku, spacerowania, jak i aktywności fizycznej – biegania, jeździe na rolkach czy rowerze. Organizowane są tu różne wydarzenia, takie jak koncerty, festiwale czy wystawy plenerowe.'"
  [imageSrc]="'/assets/images/attractions-page/bulwar.jpeg'" [imageDesc]="'Bulwar Nadmorski'"></app-content-row>
  
<app-content-row [type]="'first'" [title]="'Molo w Orłowie'" [content]="'Jako najdłuższe drewniane molo w Polsce jest idealnym miejscem do spacerowania nad Bałtykiem. Malownicze widoki i świeże powietrze służą zarówno odpoczynkowi, jak i sportom wodnym. To popularne miejsce do uprawiania kitesurfingu czy windsurfingu.'"
  [imageSrc]="'/assets/images/attractions-page/molo.jpeg'" [imageDesc]="'Molo w Orłowie'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Kępa Redłowska'" [content]="'To piękny obszar przyrodniczy obejmujący lasy nad klifowymi wybrzeżami i malowniczymi plażami. Wśród przyrody można spędzić czas na pikniku lub spacerze. Odbywają się tu różnego rodzaju festiwale i imprezy plenerowe.'"
  [imageSrc]="'/assets/images/attractions-page/redlowo.jpeg'" [imageDesc]="'Kępa Redłowska'"></app-content-row>

<app-content-row [type]="'first'" [title]="'Wzgórze św. Maksymiliana'" [content]="'Ze wzgórza roztacza się przepiękny widok na Gdynię i okolicę, dzięki czemu jest idealnym miejscem na relaksujący spacer oraz podziwianie panoramy miasta. Znajdują się tam pomnik św. Maksymiliana Kolbego oraz krzyż upamiętniający papieża Jana Pawła II.'"
  [imageSrc]="'/assets/images/attractions-page/maksym.jpeg'" [imageDesc]="'Wzgórze św. Maksymiliana'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Akwarium Gdyńskie'" [content]="'To jedno z największych akwariów w Polsce znajdujące się w centrum miasta. Oferuje interaktywne wystawy, prezentacje i edukacyjne pokazy dla odwiedzających. Można tu zobaczyć różnorodne gatunki ryb, ssaków morskich i innych stworzeń wodnych.'"
  [imageSrc]="'/assets/images/attractions-page/akwarium.jpeg'" [imageDesc]="'Akwarium Gdyńskie'"></app-content-row>

<app-content-row [type]="'first'" [title]="'Centrum Nauki EXPERYMENT'" [content]="'Idealne miejsce do odkrywania i poznawania świata poprzez zabawę dla każdego niezależnie od wieku. Centrum oferuje interaktywne wystawy i eksperymenty z dziedziny nauki i technologii, m.in. chemii, fizyki, biologii.'"
  [imageSrc]="'/assets/images/attractions-page/experyment.jpeg'" [imageDesc]="'Centrum Nauki EXPERYMENT'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Pif Paf'" [content]="'W tym pubie czeka Cię doskonała rozrywka z dozą wielu atrakcji. Biorąc udział w karaoke, możesz zaprezentować swoje umiejętności wokalne lub śmiać się z przyjaciółmi przy niezapomnianych występach. Co wieczór grają muzykę na żywo, która z pewnością dobrze rozpocznie Twój weekend.'"
  [imageSrc]="'/assets/images/attractions-page/pif.jpeg'" [imageDesc]="'Pif Paf'"></app-content-row>

<app-content-row [type]="'first'" [title]="'Centrum U7'" [content]="'Doskonałe miejsce, aby zrelaksować się po ciężkim dniu podczas gry w kręgle lub bilard. Oferuje pełne zaplecze gastronomiczne, w tym rozmaitą kartę napojów alkoholowych.'"
  [imageSrc]="'/assets/images/attractions-page/u7.jpeg'" [imageDesc]="'Centrum U7'"></app-content-row>