<app-content-row [type]="'first'" [title]="'Skwer Kościuszki'"
  [content]="'To popularne miejsce spotkań i relaksu w centrum Gdyni. Można tu zobaczyć Pomnik Jana Kilińskiego oraz podziwiać piękne widoki na morze. Skwer jest także często miejscem organizacji koncertów i imprez plenerowych.'"
  [imageSrc]="'/assets/images/attractions-page/skwer.jpeg'" [imageDesc]="'Skwer Kościuszki w Gdyni'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Molo w Orłowie'" [content]="'To najdłuższe drewniane molo w Polsce, które jest idealnym miejscem na spacer nad Bałtykiem. Można tu
  odpocząć, ciesząc się świeżym powietrzem i malowniczymi widokami. Molo jest również popularnym miejscem do
  uprawiania sportów wodnych, takich jak kitesurfing czy windsurfing.'"
  [imageSrc]="'/assets/images/attractions-page/molo.jpeg'" [imageDesc]="'Molo w Orłowie'"></app-content-row>

<app-content-row [type]="'first'" [title]="'Akwarium Gdyńskie'" [content]="'To jedno z największych akwariów w Polsce, które mieści się w centrum miasta. Można tu zobaczyć różnorodne
  gatunki ryb, ssaków morskich i innych stworzeń wodnych. Akwarium oferuje również interaktywne wystawy,
  prezentacje i edukacyjne pokazy dla odwiedzających.'" [imageSrc]="'/assets/images/attractions-page/akwarium.jpeg'"
  [imageDesc]="'Akwarium Gdyńskie'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Centrum Nauki EXPERYMENT'" [content]="'To miejsce, w którym studenci mogą bawić się i uczyć jednocześnie. Centrum oferuje interaktywne wystawy i
eksperymenty z dziedziny nauki i technologii. Można tu eksplorować różne zagadnienia z dziedziny fizyki,
chemii, biologii i innych nauk przyrodniczych.'" [imageSrc]="'/assets/images/attractions-page/experyment.jpeg'"
  [imageDesc]="'Centrum Nauki EXPERYMENT'"></app-content-row>

<app-content-row [type]="'first'" [title]="'Wzgórze św. Maksymiliana'" [content]="'To miejsce, z którego roztacza się przepiękny widok na Gdynię i okolicę. Na wzgórzu znajduje się pomnik św.
Maksymiliana Kolbego oraz krzyż upamiętniający papieża Jana Pawła II. To idealne miejsce na spacer, relaks i
podziwianie panoramy miasta.'" [imageSrc]="'/assets/images/attractions-page/maksym.jpeg'"
  [imageDesc]="'Wzgórze św. Maksymiliana'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Kępa Redłowska'" [content]="'To piękny obszar przyrodniczy, który obejmuje lasy, klifowe wybrzeże i malownicze plaże. Można tu spędzić
czas na spacerach, piknikach i obserwacji przyrody. Kępa Redłowska to również miejsce, w którym odbywają się
różnego rodzaju festiwale i imprezy plenerowe.'" [imageSrc]="'/assets/images/attractions-page/redlowo.jpeg'"
  [imageDesc]="'Kępa Redłowska'"></app-content-row>

<app-content-row [type]="'first'" [title]="'Bulwar Nadmorski'" [content]="'To popularne miejsce spacerowe, które ciągnie się wzdłuż linii brzegowej. Można tu spacerować, biegać,
jeździć na rowerze, a także odpocząć na ławkach i podziwiać widoki na morze. Bulwar jest także miejscem
organizacji różnych wydarzeń, takich jak koncerty, festiwale i wystawy plenerowe.'"
  [imageSrc]="'/assets/images/attractions-page/bulwar.jpeg'" [imageDesc]="'Bulwar Nadmorski'"></app-content-row>

<app-content-row [type]="'second'" [title]="'Pif Paf'" [content]="'To pub w którym czeka na Ciebie wiele atrakcji, które zapewnią Ci doskonałą rozrywkę. Możesz wziąć udział w
programie karaoke, gdzie będziesz miał okazję zaprezentować swoje wokalne umiejętności lub śmiać się razem z
przyjaciółmi przy niezapomnianych występach. Dodatkowo, co wieczór oferujemy muzykę na żywo, która z
pewnością dostarczy Ci mnóstwo radości i dobrze rozpocznie Twój weekend.'"
  [imageSrc]="'/assets/images/attractions-page/pif.jpeg'" [imageDesc]="'Pif Paf'"></app-content-row>

<app-content-row [type]="'first'" [title]="'Centrum U7'" [content]="'Doskonałe miejsce na zrelaksowanie się podczas gry w kręgle lub bilard po ciężkim dniu. Oferuje pełne
zaplecze gastronomiczne oraz rozmaite alkohole.'" [imageSrc]="'/assets/images/attractions-page/u7.jpeg'"
  [imageDesc]="'Centrum U7'"></app-content-row>