<div class="card" *ngIf="postData">
  <div class="first-row">
    <span class="nick">{{postData.nick}}</span>
    <mat-icon class="star" [ngClass]="{'gold': postData.verified == true}">star</mat-icon>
  </div>
  <div class="content">
    {{postData.body}}
  </div>
  <div class="last-row">
    <div class="info">
      <span class="last-updated">Edytowano {{postData.createdAt | date: 'dd-MM-yyyy'}}r.</span>
      <span *ngIf="postData.reply" class="comments">Komentarze ({{postData.reply.length}})</span>
    </div>
    <span class="category" *ngIf="postCategory">#{{postCategory.name}}</span>
  </div>
</div>
