<div class="first">
  <div class="container">
    <button *ngIf="isAdmin" class="return" [routerLink]="['/admin']"
      routerLinkActive="router-link-active"><mat-icon>arrow_back</mat-icon>
      Panel</button>

    <div class="search-box">
      <div class="search-box__searchbar">
        <input [(ngModel)]="searchKeyword" (keyup)="onSearchChange()" type="text" placeholder="Wyszukaj wątek...">
        <mat-icon>search</mat-icon>
      </div>
      <div class="search-box__filters">
        <div class="search-box__filters--filter">
          <label for="category">Wybierz kategorię</label>
          <select (change)="onCategoryChange($event)" name="category" id="category" #categorySelectElement>
            <option disabled selected value="">--wybierz--</option>
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
          </select>
        </div>
        <div class="search-box__filters--filter">
          <label for="verified">Tylko zweryfikowane</label>
          <select (change)="onVerifiedChange($event)" name="verified" id="verified" #verifiedSelectElement>
            <option disabled selected value="">--wybierz--</option>
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
          </select>
        </div>
        <div class="search-box__filters--filter">
          <label for="sort">Sortuj według</label>
          <select (change)="onSort($event)" name="sort" id="sort" #sortSelectElement>
            <option disabled selected value="">--wybierz--</option>
            <option>Najnowsze</option>
            <option>Popularność</option>
          </select>
        </div>
      </div>
      <div class="search-box__addQuestion">
        <button [ngClass]="{'no-margin': isAdmin}" class="reset" type="button" (click)="onReset()">Resetuj</button>
        <button *ngIf="!isAdmin" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Zadaj
          pytanie</button>
      </div>
    </div>
  </div>
</div>
<div class="second" style="position: relative; min-height: 100px;">
  <mat-spinner *ngIf="!slicedPosts || slicedPosts.length === 0"
    style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;"></mat-spinner>
  <div class="container second-container" *ngIf="slicedPosts && slicedPosts.length > 0">
    <div class="posts-box">
      <h3 class="posts-number">Wszystkich postów ({{numberOfPosts}})</h3>
      <hr>
      <div class="posts">
        <app-post-card *ngFor="let post of slicedPosts; let i = index; trackBy: trackByFn" [postData]="post"
          (click)="toPost(post.id)"></app-post-card>
      </div>
      <div class="paginator">
        <mat-paginator (page)="onPageChange($event)" [length]="filteredPosts.length" [pageSize]="pageSize"
          [pageSizeOptions]="[3, 5, 10, 15]" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span>
          Drogi użytkowniku,
          <br>
          <br>
          Pamiętaj, że na naszym forum obowiązuje zakaz publikowania treści nieodpowiednich lub szkodliwych.
          <br>
          <br>
          Szanujmy siebie nawzajem!
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Wstecz</button>
        <button type="button" class="btn btn-main" data-bs-dismiss="modal" (click)="openDialog()">Rozumiem</button>
      </div>
    </div>
  </div>
</div>
