.container {
  padding: 1rem 0;
}
.card-title {
  text-align: center;
  font-size: 2.2rem;
  color: var(--mainNavyColorDarker);
  font-weight: bold;
  padding: 2rem;
}
.card-dziek, .card-sailing, .card-pool, .card-ko, .card-miejsca{
  border-color: var(--mainGoldColor);
}

.student {
  color: var(--mainGoldColor);
  font-weight: bold;
}

.dziekanaty,
.kola {
  background-color: transparent;
  border-color: var(--mainGoldColor);
  color: var(--mainNavyColorDarker);
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.card-kola {
  margin-bottom: 20px;
}

.btn-sails {
  text-align: center;
}
.btn-sail {
  margin: 20px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border-color: var(--mainGoldColor);
  color: var(--mainNavyColorDarker);
}

.card-sailing-body, .card-pool-body{
    text-align: center;
}

.btn-chory{
    text-align: center;
}

.btn-chor{
    margin: 20px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: transparent;
    border-color: var(--mainGoldColor);
    color: var(--mainNavyColorDarker);
}

.card-miejsca{
    text-align: center;
}