<div class="container">
  <div class="text-center">
  <p class="d-inline-flex gap-1">
    <a class="btn btn-primary dziekanaty " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      Dziekanaty
    </a>
  </p>
</div>
  <div class="collapse" id="collapseExample">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100 card-dziek">
          <div class="card-body">
            <h5 class="card-title">WYDZIAŁ ZARZĄDZANIA I NAUK O JAKOŚCI</h5>
            <table class="table">
              <thead>
                <tr>
                  <th class = "student" scope="col">Studenci stacjonarni</th>
                  <th scope="col">Godziny</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Poniedziałek</th>
                  <td>09:00 – 13:00</td>
                </tr>
                <tr>
                  <th scope="row">Wtorek</th>
                  <td>09.00 - 13.00</td>
                </tr>
                <tr>
                  <th scope="row">Środa</th>
                  <td colspan="2">09:00 – 13:00</td>
                </tr>
                <tr>
                  <th scope="row">Czwartek</th>
                  <td colspan="2">nieczynne</td>
                </tr>
                <tr>
                  <th scope="row">Piątek</th>
                  <td colspan="2">09:00 – 13:00</td>
                </tr>
              </tbody>
             <br>
              <thead>
                <tr>
                  <th class = "student" scope="col">Studenci niestacjonarni</th>
                  <th scope="col">Godziny</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Poniedziałek</th>
                  <td>09.00 - 13.00</td>
                </tr>
                <tr>
                  <th scope="row">Wtorek</th>
                  <td>09.00 - 13.00</td>
                </tr>
                <tr>
                  <th scope="row">Środa</th>
                  <td colspan="2">12.00 - 17.00</td>
                </tr>
                <tr>
                  <th scope="row">Czwartek</th>
                  <td colspan="2">nieczynne</td>
                </tr>
                <tr>
                  <th scope="row">Piątek</th>
                  <td colspan="2">09.00 - 13.00</td>
                </tr>
                <tr>
                  <th scope="row">Sobota*</th>
                  <td colspan="2">09.00 - 13.00</td>
                </tr>
              </tbody>
            </table>
            <p class="card-text">*W dni zjazdów: 18.11.2023, 25.11.2023, 09.12.2023, 16.12.2023, 13.01.2024, 20.01.2024, 27.01.2024</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 card-dziek">
          <div class="card-body">
            <h5 class="card-title">WYDZIAŁ NAWIGACYJNY</h5>
            <table class="table">
              <thead>
                <tr>
                  <th class = "student" scope="col">Studenci stacjonarni</th>
                  <th scope="col">Godziny</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Poniedziałek</th>
                  <td>09:00 – 13:00</td>
                </tr>
                <tr>
                  <th scope="row">Wtorek</th>
                  <td>nieczynne</td>
                </tr>
                <tr>
                  <th scope="row">Środa</th>
                  <td colspan="2">09:00 – 13:00</td>
                </tr>
                <tr>
                  <th scope="row">Czwartek</th>
                  <td colspan="2">09:00 – 13:00</td>
                </tr>
                <tr>
                  <th scope="row">Piątek</th>
                  <td colspan="2">09:00 – 13:00</td>
                </tr>
              </tbody>
             <br>
              <thead>
                <tr>
                  <th class = "student"  scope="col">Studenci niestacjonarni</th>
                  <th scope="col">Godziny</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Poniedziałek</th>
                  <td>10:00 – 15:00</td>
                </tr>
                <tr>
                  <th scope="row">Wtorek</th>
                  <td>nieczynne</td>
                </tr>
                <tr>
                  <th scope="row">Środa</th>
                  <td colspan="2">10:00 – 15:00</td>
                </tr>
                <tr>
                  <th scope="row">Czwartek</th>
                  <td colspan="2">10:00 – 15:00</td>
                </tr>
                <tr>
                  <th scope="row">Piątek</th>
                  <td colspan="2">10:00 – 15:00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 card-dziek">
          <div class="card-body">
            <h5 class="card-title">WYDZIAŁ MECHANICZNY</h5>
            <table class="table">
              <thead>
                <tr>
                  <th class = "student" scope="col">Studenci stacjonarni</th>
                  <th scope="col">Godziny</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Poniedziałek</th>
                  <td>09:00 – 13:00</td>
                </tr>
                <tr>
                  <th scope="row">Wtorek</th>
                  <td>09:00 - 13:00</td>
                </tr>
                <tr>
                  <th scope="row">Środa</th>
                  <td colspan="2">nieczynne</td>
                </tr>
                <tr>
                  <th scope="row">Czwartek</th>
                  <td colspan="2">09:00 – 13:00 oraz 15:00 - 17:00</td>
                </tr>
                <tr>
                  <th scope="row">Piątek</th>
                  <td colspan="2">09:00 – 13:00</td>
                </tr>
              </tbody>
             <br>
              <thead>
                <tr>
                  <th class = "student" scope="col">Studenci niestacjonarni</th>
                  <th scope="col">Godziny</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Sobota</th>
                  <td>10:00 – 14:00</td>
                </tr>
              </tbody>
            </table>
            <p class="card-text">najbliższe dyżury: 18.11., 25.11., 02.12., 09.12., 16.12., 13.01., 20.01., 27.01., 03.02.,10.02</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 card-dziek">
          <div class="card-body">
            <h5 class="card-title">WYDZIAŁ ELEKTRYCZNY</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th class = "student" scope="col">Studenci stacjonarni</th>
                    <th scope="col">Godziny</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Poniedziałek</th>
                    <td>08.00 - 11.00</td>
                  </tr>
                  <tr>
                    <th scope="row">Wtorek</th>
                    <td>11.00 - 14.00</td>
                  </tr>
                  <tr>
                    <th scope="row">Środa</th>
                    <td colspan="2">nieczynne</td>
                  </tr>
                  <tr>
                    <th scope="row">Czwartek</th>
                    <td colspan="2">11.00 - 14.00</td>
                  </tr>
                  <tr>
                    <th scope="row">Piątek</th>
                    <td colspan="2">11.00 - 14.00</td>
                  </tr>
                </tbody>
                <br>
                <thead>
                  <tr>
                    <th class = "student" scope="col">Studenci niestacjonarni</th>
                    <th scope="col">Godziny</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Piątek</th>
                    <td>11.00 - 16.00</td>
                  </tr>
                  <tr>
                    <th scope="row">Sobota</th>
                    <td>09.00 - 12.00</td>
                  </tr>
    
                </tbody>
              </table>
             
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Koła naukowe -->

  <div class="text-center">
    <p class="d-inline-flex gap-1">
      <a class="btn btn-primary kola " data-bs-toggle="collapse" href="#kola" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        KOŁA NAUKOWE
      </a>
    </p>
  </div>
    <div class="collapse" id="kola">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100 card-ko">
            <div class="card-body">
              <h5 class="card-title">WYDZIAŁ ZARZĄDZANIA I NAUK O JAKOŚCI</h5>  
              <div class="card card-kola">
                <div class="card-header">
                  Naukowe koło e-biznesu
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun koła: p.szyman@wznj.umg.edu.pl</p>
                  <a href="https://kneb.wznj.umg.edu.pl" class="btn btn-primary">Strona koła</a>
                </div>
              </div>

              <div class="card card-kola">
                <div class="card-header">
                  Naukowe Koło Towaroznawstwa Cargo
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun koła: p.dmowski@wpit.umg.edu.pl</p>
                  <a href="https://cargo.wznj.umg.edu.pl" class="btn btn-primary">Strona koła</a>
                </div>
              </div>

  

              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe Inwestor
                </div>
                <div class="card-body">
                  <p class="card-text">Kontakt przez formularz na stronie koła</p>
                  <a href="https://inwestor.wznj.umg.edu.pl/index.php/kontakt/" class="btn btn-primary">Strona koła</a>
                </div>
              </div>
              <div class="card card-kola">
                <div class="card-header">
                  Naukowe koło transportu i logistyki "Translog"
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 card-ko">
            <div class="card-body">
              <h5 class="card-title">WYDZIAŁ NAWIGACYJNY</h5>
             
              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe Nawigator
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: dr inż. Krzysztof Wróbel</p>
                  <p class="card-text">e-mail: knnawigator@gmail.com</p>
                  <a href="http://wn.am.gdynia.pl/nawigator" class="btn btn-primary">Strona koła</a>
                </div>
              </div>


              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe Innowacyjnych Systemów Transportowo – Logistycznych
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: dr inż. Monika Ziemska</p>
                  <p class="card-text">e-mail: knistlam@wp.pl</p>
                  <a href="https://knistlam.wixsite.com/kn-istl" class="btn btn-primary">Strona koła</a>
                </div>
              </div>


              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe logistic
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: mgr Oktawia Lewicka</p>
                  <p class="card-text">e-mail: logistic.wn@gmail.com</p>
                  <a href="https://kolologistic.wixsite.com/logistic" class="btn btn-primary">Strona koła</a>
                </div>
              </div>


              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe SeaQuest
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: dr hab. inż. kpt. ż.w. Grzegorz Rutkowski, prof UMG</p>
                  <p class="card-text">e-mail: nkbp.seaquest@gmail.comm</p>
                  <a href="https://www.facebook.com/SeaQuestNKBP" class="btn btn-primary">Strona koła</a>
                </div>
              </div>



            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 card-ko">
            <div class="card-body ">
              <h5 class="card-title">WYDZIAŁ MECHANICZNY</h5>
             
              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe Seanovation 
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: mgr inż. T. Marut, pok. A-223</p>
                  <a href="http://seanovation.wm.umg.edu.pl" class="btn btn-primary">Strona koła</a>
                </div>
              </div>

              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe CAD &Cut
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: dr inż. O. Dvirna, pok. A-108</p>

                  <a href="http://cadandcut.wm.umg.edu.pl" class="btn btn-primary">Strona koła</a>
                </div>
              </div>


              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe Nautica 
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: dr inż. W. Kończewicz, pok. A-212</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 card-ko">
            <div class="card-body">
              <h5 class="card-title">WYDZIAŁ ELEKTRYCZNY</h5>
               
              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe Internetu Rzeczy i Systemów Wbudowanych „IOtes”t
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: dr inż. Adam Muc</p>
                  <p class="card-text">e-mail: kniotes@we.umg.edu.pl</p>
                  <a href="https://www.facebook.com/kniotes" class="btn btn-primary">Strona koła</a>
                </div>
              </div>


              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe HMI
                </div>
                <div class="card-body">
                  <p class="card-text">Opiekun: dr inż. Monika Rybczak</p>
                  <a href="https://www.facebook.com/profile.php?id=100049758506515" class="btn btn-primary">Strona koła</a>
                </div>
              </div>

              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe Pojazdów Elektrycznych „EVPL"
                </div>
                <div class="card-body">
                  <a href="http://atol.umg.edu.pl/ev/" class="btn btn-primary">Strona koła</a>
                </div>
              </div>


              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe „Morski Klub Łączności Szkuner"
                </div>
                <div class="card-body">
                  <a href="http://www.sp2zie.pl" class="btn btn-primary">Strona koła</a>
                </div>
              </div>

              <div class="card card-kola">
                <div class="card-header">
                  Koło Naukowe Stowarzyszenia Elektryków Polskich (SEP)
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- centrum sportu i rekreacji -->
    <div class="text-center">
      <p class="d-inline-flex gap-1">
        <a class="btn btn-primary kola " data-bs-toggle="collapse" href="#sport" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          CENTRUM SPORTU I REKREACJI
        </a>
      </p>
    </div>
      <div class="collapse" id="sport">
        <div class="card mb-3 card-im card-sailing" >
          <img src="/assets/images/formalities-page/sailing.jpg" class="card-img-top" alt="..." style="max-height: 450px">
          <div class="card-body card-sailing-body">
            <h5 class="card-title">OŚRODEK ŻEGLARSTWA I SPORTÓW WODNYCH IM. J.K.Ż.W. ZBIGNIEWA SZPETULSKIEGO</h5>
            <p class="card-text">telefon: 58-5586-167</p>
            <p class="card-text">e-mail: biuro@sail.umg.edu.pl</p>
            <p class="card-text">Aleja Jana Pawła II 3 (budynek Wydziału Nawigacyjnego UMG, wejście od strony portu jachtowego)</p>
            <div class="btn-sails">
            <a href="https://www.facebook.com/OZiSW.GDYNIA" class="btn btn-primary btn-sail">Facebook</a>
            <a href="https://umg.edu.pl/sail" class="btn btn-primary btn-sail">Strona</a>
          </div>
          </div>
        </div>

        <div class="card mb-3 card-im card-pool" >
          <img src="/assets/images/formalities-page/pool2.jpg" class="card-img-top" alt="..." style="max-height: 450px">
          <div class="card-body card-pool-body">
            <h5 class="card-title">PŁYWALNIA KRYTA UMG</h5>
            <p class="card-text">Recepcja - tel. (058) 558 61 23</p>
            <p class="card-text">Biuro - tel. (058) 558 61 40 (kontakt w godz. 07:00-15:00)</p>
            <p class="card-text">e-mail: plywalnia@au.umg.edu.pl</p>
            <p class="card-text">Aleja Jana Pawła II 3Skwer Kościuszki (obok Akwarium gdyńskiego)</p>
            <div class="btn-sails">
            <a href="https://umg.edu.pl/basen/harmonogram" class="btn btn-primary btn-sail">Harmonogram</a>
            <a href="https://umg.edu.pl/basen" class="btn btn-primary btn-sail">Strona</a>
          </div>
          </div>
        </div>
      </div>

      <!-- miejsca na uczelni -->
      <div class="text-center">
        <p class="d-inline-flex gap-1">
          <a class="btn btn-primary kola " data-bs-toggle="collapse" href="#miejsca" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            MIEJSCA NA UCZELNI
          </a>
        </p>
      </div>
        <div class="collapse" id="miejsca">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100 card-miejsca">
                <div class="card-body">
                  <h5 class="card-title">AKADEMICKI CHÓR UNIWERSYTETU MORSKIEGO W GDYNI</h5>
                  <p class="card-text">E-mail: chor@umg.edu.pl</p>
                  <p class="card-text">Dyrygent:	Karol Hilla</p>
                  <p class="card-text">+48 602 572 553</p>
                  <p class="card-text">khilla@wp.pl</p>
                  <p class="card-text">Próby chóru: poniedziałki i czwartki o godz. 19:00 w Auli Głównej lub auli A13 (Wydział Mechaniczny)</p>
                  <div class="btn-chory">
                    <a href="https://umg.edu.pl/kalendarz-prob" class="btn btn-primary btn-chor">Kalendarz</a>
                    <a href="https://www.facebook.com/chor.umgdynia/" class="btn btn-primary btn-chor">Facebook</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 card-miejsca">
  
                <div class="card-body">
                  <h5 class="card-title">Wypożyczalnia i Czytelnia (ul. Morska)</h5>
                  <p class="card-text">poniedziałek – piątek	8:30 - 18:00</p>
                  <p class="card-text">sobota	8:30 - 15:00</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 card-miejsca">
  
                <div class="card-body">
                  <h5 class="card-title">Czytelnia Informacji Naukowej na Wydziale Nawigacyjnym (Al. Jana Pawła II)</h5>
                  <p class="card-text">poniedziałek, wtorek, środa, piątek - 8:30 - 15:00 (przerwa 12:00 - 12:30)</p>
                  <p class="card-text">czwartek	12:00 - 16:00</p>
                </div>
              </div>
            </div>
         
          </div>
         
        </div>

</div>