<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3 class="title">Zniżki</h3>
        <div class="text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo tempora delectus dignissimos ab eum voluptatum
          illum. Neque sed quo possimus tempora magnam numquam. Possimus aperiam et modi ea nulla quidem minus illo
          maxime, quo voluptatem a atque animi dolorum provident veniam velit rem quaerat est laboriosam ipsa explicabo
          dignissimos ducimus nobis repellat? Quos necessitatibus voluptate sunt corporis! Architecto repellat corporis
          autem reprehenderit itaque similique necessitatibus cum eius doloremque distinctio, alias ipsa modi fugiat
          odit
          iste dolorum ab suscipit amet rerum ut, iure doloribus? Eos accusamus necessitatibus corrupti, explicabo,
          omnis
          assumenda est accusantium maiores nulla facilis iste magnam quo atque repudiandae eligendi vitae itaque nemo
          ducimus dolorum quibusdam iusto! Ducimus, eligendi? Saepe voluptatum ipsa sunt aperiam quas consequatur ipsam
          autem voluptate molestias eum at quisquam ratione exercitationem, odit, tempora ad rem totam velit atque
          accusantium tempore. Possimus mollitia repellat atque provident placeat, expedita adipisci, nulla ex, nam
          impedit perferendis dignissimos aperiam?
        </div>
      </div>
      <div class="col-md-5">
        <div id="img1" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div id="row2" class="row">
      <div class="col-md-5">
        <div id="img2" class="img"></div>
      </div>
      <div class="col-md-7">
        <h3 class="title">Stypendium</h3>
        <div class="text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo tempora delectus dignissimos ab eum voluptatum
          illum. Neque sed quo possimus tempora magnam numquam. Possimus aperiam et modi ea nulla quidem minus illo
          maxime, quo voluptatem a atque animi dolorum provident veniam velit rem quaerat est laboriosam ipsa explicabo
          dignissimos ducimus nobis repellat? Quos necessitatibus voluptate sunt corporis! Architecto repellat corporis
          autem reprehenderit itaque similique necessitatibus cum eius doloremque distinctio, alias ipsa modi fugiat.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="third">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h3 class="title">Wiedza XD</h3>
        <div class="text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo tempora delectus dignissimos ab eum voluptatum
          illum. Neque sed quo possimus tempora magnam numquam. Possimus aperiam et modi ea nulla quidem minus illo.
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div id="img3" class="img"></div>
      </div>
    </div>
  </div>
</div>

<ngx-loading *ngIf="loading" [show]="loading"></ngx-loading>
