<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="title">Zniżki</h2>
        <div class="text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo tempora delectus dignissimos ab eum voluptatum
          illum. Neque sed quo possimus tempora magnam numquam. Possimus aperiam et modi ea nulla quidem minus illo
          maxime, quo voluptatem a atque animi dolorum provident veniam velit rem quaerat est laboriosam ipsa explicabo
          dignissimos ducimus nobis repellat? Quos necessitatibus voluptate sunt corporis! Architecto repellat corporis
          autem reprehenderipsa explicabo
          dignissimos ducimus nobis repellat? Quos necessitatibus voluptate sunt corporis! Architecto repellat corporis
          autem reprehenderipsa explicabo
          dignissimos ducimus nobis repellat? Quos necessitatibus voluptate sunt corporis! Architecto repellat corporis
          autem reprehender
        </div>
      </div>
      <div class="col-md-5">
        <div id="img1" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div id="row2" class="row">
      <div class="col-md-5">
        <div id="img2" class="img"></div>
      </div>
      <div class="col-md-7">
        <h2 id="title2" class="title">Stypendium</h2>
        <div class="text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo tempora delectus dignissimos ab eum voluptatum
          illum. Neque sed quo possimus tempora magnam numquam. Possimus aperiam et modi ea nulla quidem minus illo
          maxime, quo voluptatem a atque animi dolorum provident veniam velit rem quaerat est laboriosam ipsa explicabo
          dignissimos ducimus nobis repellat? Quos necessitatibus voluptate sunt corporis! Architecto repellat corporis
          autem reprehenderit itaque similique necessitatibus cum eius doloremque distinctio, alias ipsa modi fugiat.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h2 class="title">Wiedza XD</h2>
        <div class="text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo tempora delectus dignissimos ab eum voluptatum
          illum. Neque sed quo possimus tempora magnam numquam. Possimus aperiam et modi ea nulla quidem minus illo.
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div id="img3" class="img"></div>
      </div>
    </div>
  </div>
</div>

<ngx-loading *ngIf="loading" [show]="loading"></ngx-loading>