<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="title">Poszerzanie horyzontów</h2>
        <div class="text">
          <p>Studia to nie tylko wiedza, ale i możliwość odnajdywania dodatkowych ścieżek kształcenia. Kursy językowe,
             wymiany studenckie, staże w renomowanych firmach – warto zadbać o to, aby studencki życiorys wypełniały 
             ciekawe projekty. Same zajęcia poniekąd zmuszają do poszukiwania dodatkowych informacji oraz zdobywania 
             podstawowych umiejętności w różnych dziedzinach, dzięki czemu przypadkowo można odkryć ścieżkę, którą 
             chciałoby się podążać oraz rozwijać.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div id="img1" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div id="row2" class="row">
      <div class="col-md-5">
        <div id="img2" class="img"></div>
      </div>
      <div class="col-md-7">
        <h2 id="title2" class="title">Wykształcenie z punktu widzenia pracodawcy</h2>
        <div class="text">
          <p>Posiadanie dyplomu może być kluczowe dla uzyskania lepszej pracy i wyższych zarobków, a także stanowić
             przewagę konkurencyjną na rynku. Coraz więcej pracodawców wymaga od kandydatów wyższego wykształcenia, 
             nawet jeśli nie jest to bezpośrednio związane z zawodem. W zależności od wybranego kierunku, studenci 
             zdobywają między innymi umiejętność pracy w zespole, analityczne myślenie, zarządzanie projektami, 
             kreatywności czy komunikację interpersonalną. Powyższe cechy są bardzo pożądane przez przyszłych 
             przełożonych i mogą znacząco zwiększyć szanse na lepszą posadę.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h2 class="title">Nawiązywanie znajomości</h2>
        <div class="text">
          <p>Największą zaletą studiowania jest możliwość nawiązywania nowych znajomości. Studenci kształcący się na tym
             samym kierunku mają wspólne cele i zainteresowania. Podczas nauki często pracują w grupach przygotowując 
             wspólnie projekty lub uczestniczą w debatach i dyskusjach. Dzięki temu łatwiej zapoznać się z osobami z różnych 
             środowisk, o różnych doświadczeniach i perspektywach. Nowe relacje mogą przynieść wiele korzyści w przyszłości, 
             takich jak znalezienie pracy, rozwój biznesowy czy poprawa sieci kontaktów zawodowych. Ponadto, uczelnia 
             organizuje różne wydarzenia, podczas których studenci mają możliwość poznać osoby spoza swojego kierunku lub 
             nawet z innych szkół wyższych.</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div id="img3" class="img"></div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div class="circles">
      <div class="circle"><mat-icon>shopping_basket</mat-icon> <span>Zniżki</span></div>
      <div class="circle"><mat-icon> monetization_on</mat-icon> <span>Stypendium</span></div>
      <div class="circle"><mat-icon>library_books</mat-icon> <span>Wiedza</span></div>
    </div>
  </div>
</div>

<ngx-loading *ngIf="loading" [show]="loading"></ngx-loading>
