<div class="container">
  <div class="box">
    <form class="form" [formGroup]="filtersForm">
      <div class="selects">
        <h3 class="main-label">Filtry</h3>
        <div class="control">
          <label>Budynek</label>
          <div class="input-box">
            <select formControlName="building">
              <option value="" selected>--wybierz--</option>
              <option *ngFor="let building of buildings; let i = index; trackBy: trackByFn" [value]="building">
                {{building}}</option>
            </select>
          </div>
        </div>
        <div class="control">
          <label>Piętro</label>
          <div class="input-box">
            <select formControlName="floor">
              <option value="" selected>--wybierz--</option>
              <option *ngFor="let floor of floors; let i = index; trackBy: trackByFn" [value]="floor">{{floor}}
              </option>
            </select>
          </div>
        </div>
        <div class="control">
          <label>Sala</label>
          <div class="input-box">
            <select formControlName="room">
              <option value="" selected>--wybierz--</option>
              <option *ngFor="let room of rooms; let i = index; trackBy: trackByFn" [value]="room">{{room}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="additional">
        <h3 class="main-label">Instrukcja</h3>
        <p class="content">Wybierz budynek, piętro oraz salę, a wybrane miejsce zostanie wskazane na mapie poniżej.</p>
      </div>
    </form>
    <div class="image">
      <h3 class="main-label">Plan</h3>
      <div class="imagepin">
        <img class="img" loading="lazy" [src]="imageURL" usemap="#f0">
        <div class="pins pinsF0">
          <span class="pin pinF1" style="top: 50%; left:72%;"></span>
          <span class="pin pinF2" style="top: 50%; left:81%;"></span>
        </div>
      </div>
    </div>
  </div>
</div>