<div class="container" style="position: relative;">
  <button class="return" [routerLink]="['/forum']" routerLinkActive="router-link-active"><mat-icon>arrow_back</mat-icon>
    Wszystkie posty</button>

  <mat-spinner *ngIf="!postData || !filteredReplies"
    style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;"></mat-spinner>

  <div class="card" *ngIf="postData && filteredReplies">
    <div class="first-row">
      <span class="nick">{{postData.nick}}</span>
      <mat-icon class="star" [ngClass]="{'gold': postData.verified === true}">star</mat-icon>
    </div>
    <div class="content">
      {{postData.body}}
    </div>
    <div class="last-row">
      <div class="info">
        <span class="last-updated">Utworzono {{postData.createdAt | date: 'dd-MM-yyyy'}}r.</span>
        <span class="add-reply" (click)="openDialog()">Odpowiedz</span>
      </div>
      <span class="category" *ngIf="postCategory">#{{postCategory.name}}</span>
    </div>
  </div>

  <div class="replies" *ngIf="postData && filteredReplies">
    <div class="title">
      <h3 *ngIf="filteredReplies">Komentarze ({{filteredReplies.length}})</h3>
      <hr>
      <div class="filters">
        <div class="filters--filter">
          <label for="verified">Tylko zweryfikowane</label>
          <select (change)="onVerifiedChange($event)" name="verified" id="verified" #verifiedSelectElement>
            <option disabled selected value="">--wybierz--</option>
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
          </select>
        </div>
      </div>
      <div class="reply-box" *ngFor="let reply of slicedReplies; let i = index; trackBy: trackByFn">
        <div class="first-row">
          <span class="nick">{{reply.nick}}</span>
          <mat-icon class="star" [ngClass]="{'gold': reply.verified === true}">star</mat-icon>
        </div>
        <div class="content">
          {{reply.body}}
        </div>
        <div class="info">
          <span class="last-updated">Utworzono {{postData.createdAt | date: 'dd-MM-yyyy'}}r.</span>
        </div>
      </div>
      <div class="paginator">
        <mat-paginator (page)="onPageChange($event)" [length]="filteredReplies.length" [pageSize]="pageSize"
          [pageSizeOptions]="[3, 5, 10, 15]" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>