.invalid-input {
  border: 2px solid red !important;
}

.invalid-input-field {
  margin-bottom: 0px !important;
}

.popup {
  padding: 15px;
  color: var(--mainGoldColor);
  background: var(--mainNavyColorDarker);
}

.popup .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popup .up h3 {
  margin-bottom: 0;
  font-size: 1.6rem;
}

.popup .close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--mainGoldColor);
  border: none;
  border-radius: 3px;
}

.popup .close mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--mainNavyColorDarker);
}

.popup form .form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.popup form .form-field .error {
  font-size: 1.2rem;
  color: red;
}

.popup form .form-field label {
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.popup form .form-field input,
.popup form .form-field textarea {
  padding: 8px 10px;
  width: 100%;
  font-size: 1.4rem;
  color: var(--mainNavyColorDarker);
  border: 1px solid var(--mainGoldColor);
  border-radius: 3px;
}

.popup form .form-field textarea {
  height: 120px;
  min-height: 120px;
  max-height: 120px;
}

.popup form .submit {
  display: flex;
  justify-content: flex-end;
}

.popup form .submit button {
  margin-top: 15px;
  padding: 10px;
  width: 45%;
  max-width: 170px;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--mainNavyColorDarker);
  background: var(--mainGoldColor);
  border: 1px solid var(--mainGoldColor);
  border-radius: 3px;
}

@media only screen and (min-width: 400px) {
  .popup form .submit button {
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .popup form .form-field textarea {
    height: 170px;
    min-height: 170px;
    max-height: 170px;
  }

  .popup form .form-field label {
    font-size: 1.6rem;
  }

  .popup form .form-field input,
  .popup form .form-field textarea {
    font-size: 1.6rem;
  }

  .popup .up h3 {
    font-size: 1.8rem;
  }
}
